@using Microsoft.AspNetCore.Identity
@using MVC.Models.Entities
@inject SignInManager<ApplicationUser> SignInManager

@{
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();

    var isLogin = currentArea == "Identity" && currentPage == "/Account/Login";
    var isRegister = currentArea == "Identity" && currentPage == "/Account/Register";
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link @(isRegister ? "active" : "")" aria-current="@(isRegister ? "page" : null)" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(isLogin ? "active" : "")" aria-current="@(isLogin ? "page" : null)" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
