@model MVC.Models.DailyLogIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container pt-5">
    <h4>Daily log for: @(Model.Date.ToString())</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>
        <dd class = "col-sm-10">
        @(Model.WeightKg?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class="col-sm-10">
            @(Model.Fat?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carbs)
        </dt>
        <dd class="col-sm-10">
            @(Model.Carbs?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class="col-sm-10">
            @(Model.Protein?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class="col-sm-10">
            @(Model.Calories?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceKm)
        </dt>
        <dd class="col-sm-10">
            @(Model.DistanceKm?.ToString() ?? "--")
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepCount)
        </dt>
        <dd class="col-sm-10">
            @(Model.StepCount?.ToString() ?? "--")
        </dd>
    </dl>
</div>
